/* Table of Contents

-- GENERAL --
0. CSS Reset
1. Universal styling
    1.1 Typography
    1.2 Links & Buttons
    1.3 Images
2. Nav
3. Flexbox
4. Grid

-- Media Queries --
1. Elements
    1.1 Images
2. Tablet
3. Mobile
*/

/* 0. CSS RESET */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* 1. UNIVERSAL STYLING */
body {
    width: 100%;
    overflow-y: hidden;       
}

p {
    font-family: "Name", Arial, Helvetica, sans-serif;    
}

/* 1.1 Typography */

/* 1.2 Links & Buttons */
a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #FF3262;
}

a:visited {
    color: #FF3262;
}

/* 1.3 IMG */

.bg-img {
    background-image: url("../img/");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
}

/* 2. Nav */
nav ul li {
    display: inline;
    list-style: none;
}

/*
.social {
    display: inline;
    text-align: center;
    list-style: none;
}

.social ul li {
    display: inline;
} */


/* 3. Flexbox */
.flex-wrapper {
    display: flex;
    /* inline-flex to display container inline. */
    flex-flow: row wrap;
    /* same as flex-direction: row; flex-wrap: wrap;
    On small screens can switch to flex-direction: column;
    */
    justify-content: space-around;
    /* alignment along the main axis, evenly distributed across the space */
}

.flex-item {
    /* set the order: order: -1; */
    /* Nest flex for additional options by adding display: flex; */
}


/* 4. CSS Grid */

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* repeats 1fr column 3 times OR
    grid-template: row values / column values */
    grid-gap: 20px 10px; /* row gap, column gap */
  }
  
  .grid-item {
    /* align - align along the column axis
    justify - aligning along the row axis */
  }
