/* Table of Contents

-- GENERAL --
0. CSS Reset
1. Universal styling
    1.1 Typography
    1.2 Links & Buttons
    1.3 Images
2. Nav
3. Flexbox
4. Grid

-- Media Queries --
1. Elements
    1.1 Images
2. Tablet
3. Mobile
*/

/* 0. CSS RESET */
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* 1. UNIVERSAL STYLING */
body {
    width: 100%;
    overflow-y: hidden;       
}

/* 1.1 Typography */

/* 1.2 Links & Buttons */
a {
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #FF3262;
}

a:visited {
    color: #FF3262;
}

/* 1.3 IMG */

.bg-img {
    background-image: url("../img/");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
}

/* 2. Nav */
nav ul li {
    display: inline;
    list-style: none;
}


/* 3. Flexbox */


/* 4. CSS Grid */

.grid-wrapper {
    display: grid;
    /* repeats 1fr column 3 times OR
    grid-template: row values / column values */
    grid-template-columns: repeat(3, 1fr);
    /* row gap, column gap */
    grid-gap: 20px 10px;
  }
  
  .item {
    /* align - align along the column axis
    justify - aligning along the row axis */
  }
